<p>Submitting the results on the test set.</p>

<!--         <p align = 'justify'>
        <a href = "https://agent-dataset-storage.s3.us-east.cloud-object-storage.appdomain.cloud/final_dataset_challenge_dataset.zip">Full version (RGB-D frames + segmentation maps + GT states)t</a> (147 GB) 
        </p>
        <p align = 'justify'>
        <a href = "https://www.tshu.io/AGENT/final_dataset_challenge_dataset_pickle.zip">Small version (with GT states only)</a> (174 MB)
        </p>
        <p align = 'justify'>
        <a href = "https://www.tshu.io/AGENT/Dataset_README.md">README</a> 
        </p> -->